body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f8ff; /* Color celeste */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Aprovecha toda la altura visible de la pantalla */
    margin: 0;
}

.container {
    width: 300px;
    background-color: rgba(230, 247, 255, 0.8); /* Fondo transparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px; /* Espacio superior al botón */
}

button:hover {
    background-color: #45a049;
}
.button-link {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #060606;
    background-color: rgba(230, 247, 255, 0.8);
    border: none;
    border-radius: 5px;
    position: fixed;
    top: 20px;
    left: 20px;
}
