

.logo img {
    max-width: 100px;
}

/* Estilos para la barra de navegación */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 15px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: rgba(0, 123, 255, 0.8); /* Color celeste claro */
}

/* Estilos para el carrusel de imágenes */
.carousel {
    position: relative;
    overflow: hidden;
    margin: 20px auto;
    max-width: 1000px; /* Limitar el ancho del carrusel */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para profundidad */
}

.slide {
    display: none;
    width: 100%;
}

.slide.active {
    display: block;
}

.carousel img {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Bordes redondeados en las imágenes */
}

.carousel-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    padding: 0 10px;
}

.carousel-nav button {
    background-color: rgba(0, 123, 255, 0.8);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.carousel-nav button:hover {
    background-color: rgba(0, 123, 255, 1);
}

/* Estilos para los contenedores de secciones */
.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 20px auto;
    max-width: 1200px; /* Limitar el ancho del contenedor */
    gap: 20px; /* Espacio entre los elementos */
}

/* Contenedor de Secciones */
.section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px auto;
    max-width: 1200px; /* Aumento del ancho del contenedor */
    gap: 30px;
}

/* Estilos para las Secciones */
.medical-results,
.quotes,
.patient-guide {
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.medical-results:hover,
.quotes:hover,
.patient-guide:hover {
    transform: translateY(-10px); /* Efecto de elevación al pasar el cursor */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

.medical-results h2,
.quotes h2,
.patient-guide h2 {
    color: #007bff; /* Color celeste para los títulos */
    font-size: 28px;
    margin-bottom: 15px;
}

/* Estilos para el Botón de Cotizaciones */
.quotes .nav-link {
    background: linear-gradient(135deg, #a1c4fd, #c2e9fb); /* Gradiente de fondo */
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 25px;
    margin-top: 15px;
    display: inline-block;
    transition: background 0.3s, transform 0.3s;
}

.quotes .nav-link:hover {
    background: linear-gradient(135deg, #c2e9fb, #a1c4fd);
    transform: scale(1.05); /* Efecto de aumento al pasar el cursor */
}


/* Estilos para la sección de comentarios */
.comments-section {
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: rgba(230, 247, 255, 0.9);
    position: relative;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
}

.comments-section h2 {
    color: #007bff;
    margin-bottom: 20px;
    font-size: 28px;
}

#comments-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#comments-wrapper {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease;
}

.comment {
    min-width: 300px; /* Ajusta el ancho mínimo para las tarjetas */
    height: 200px; /* Ajusta la altura para las tarjetas */
    margin: 0 15px; /* Mayor margen entre tarjetas */
    box-sizing: border-box;
    perspective: 1000px;
    position: relative;
    cursor: pointer; /* Cursor de mano para indicar interactividad */
}

.comment-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.comment.flip .comment-inner {
    transform: rotateY(180deg); /* Voltea la carta al hacer clic */
}

.comment-front,
.comment-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 2px solid #007bff; /* Borde celeste para cada comentario */
    border-radius: 10px; /* Bordes redondeados */
    background-color: #fff; /* Fondo blanco para cada comentario */
}

.comment-front {
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-back {
    background: #95a4df; /* Fondo blanco para el reverso de la carta */
    transform: rotateY(180deg);
    padding: 10px; /* Espaciado interno para el contenido */
    box-sizing: border-box;
}

.comment-front img {
    width: 50%; /* Ajusta el GIF para que ocupe todo el tamaño de la carta */
    height: 100%;
    object-fit: cover; /* Mantiene la relación de aspecto del GIF */
    border-radius: 10px;
}

.comment-back h3,
.comment-back p {
    margin: 10px;
    color: #333;
}

.gif-selection {
    margin-top: 15px;
}

.gif-selection label {
    display: block;
    margin-bottom: 5px;
}

#comment-sidebar {
    position: fixed;
    right: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: rgba(230, 247, 255, 0.9);
    border-left: 1px solid #ccc;
    padding: 20px;
    transition: right 0.3s ease;
    overflow-y: auto;
    display: none;
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#comment-sidebar.open {
    right: 0;
}

#add-comment-btn {
    background: linear-gradient(135deg, #a1c4fd, #c2e9fb);
    color: #fff;
    border: none;
    padding: 12px 18px;
    border-radius: 25px;
    cursor: pointer;
    display: block;
    margin: 25px auto;
    transition: background 0.3s, transform 0.3s;
}

#add-comment-btn:hover {
    background: linear-gradient(135deg, #c2e9fb, #a1c4fd);
    transform: scale(1.05);
}

#comment-form input, #comment-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 20px);
}

#comment-form button {
    background-color: rgba(0, 123, 255, 0.8);
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

#comment-form button:hover {
    background-color: rgba(0, 123, 255, 1);
    color: white;
}


/* Estilos para el enlace de navegación */
.nav-link {
    background: linear-gradient(135deg, #a1c4fd, #c2e9fb);
    color: #fff;
    border: none;
    padding: 12px 18px;
    border-radius: 25px;
    cursor: pointer;
    display: block;
    margin: 25px auto;
    transition: background 0.3s, transform 0.3s;
}

.nav-link:hover {
    background-color: rgba(230, 247, 255, 0.8); /* Fondo celeste claro al pasar el mouse */
    color: rgb(15, 14, 14); /* Texto oscuro */
}

.nav-link:focus {
    outline: none; /* Elimina el contorno al hacer foco */
}

.nav-link:active {
    background-color: #45a049; /* Cambia el color al hacer clic */
}

/* Estilos para el footer */
footer {
    background-color: rgba(230, 247, 255, 0.9);
    padding: 30px 20px; /* Ajusta el padding para un mejor espaciado */
    margin: 40px auto;
    max-width: 1200px;
    border-radius: 15px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
    text-align: center;
}

/* Contenedor de los elementos del footer */
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px; /* Espacio entre los elementos */
    margin-bottom: 20px;
}

/* Estilo de Certificaciones, Contacto y Sobre Nosotros */
.certifications,
.contact,
.about {
    flex: 1;
    margin: 0 10px;
}

.certifications h2,
.contact h2,
.about h2 {
    color: #007bff;
    font-size: 24px;
    margin-bottom: 10px;
}

/* Animación de rotación */
@keyframes rotate {
    0% { transform: rotateY(0); }
    100% { transform: rotateY(360deg); }
}

/* Estilo del Enlace de Certificaciones */
.certifications .nav-link {
    background: linear-gradient(135deg, #a1c4fd, #c2e9fb);
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 25px;
    margin-top: 10px;
    display: inline-block;
    transition: background 0.3s, transform 0.3s;
}

.certifications .nav-link:hover {
    background: linear-gradient(135deg, #c2e9fb, #a1c4fd);
    transform: scale(1.05);
}

/* Derechos de Autor */
.copyright {
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.copyright p {
    color: #555;
    font-size: 14px;
    margin: 0;
}

body.fade-out {
    opacity: 0;
}


/* Estilo del overlay de transición */
.fade-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#fff; /* Fondo semi-transparente */
    z-index: 9999; /* Asegúrate de que esté sobre todo el contenido */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease; /* Ajusta este tiempo según la duración de tu GIF */
}

/* Mostrar el overlay cuando tenga la clase active */
.fade-overlay.active {
    opacity: 1;
}


.fade-overlay img {
    max-width: 90%;
    height: auto;
}

/* Estilos para las cartas */
.card {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
    perspective: 1000px;
    width: 300px;
    height: 200px;
    overflow: hidden; /* Para asegurar que el contenido no se salga de la carta */
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box; /* Incluye el padding en el tamaño total */
}

.card-front {
    background: #fff;
}

.card-back {
    background: #fff;
    transform: rotateY(180deg);
    text-align: center;
}

.card img {
    width: 100%; /* Hace que la imagen ocupe toda la carta */
    height: 100%; /* Ajusta la altura para que llene la carta */
    object-fit: cover; /* Asegura que la imagen cubra el área sin deformarse */
}

.card h2,
.card p {
    margin: 0;
}

.card h2 {
    color: #007bff;
    font-size: 22px;
    margin-bottom: 10px;
}

.card p {
    color: #333;
    font-size: 16px;
}

.card .nav-link {
    background: linear-gradient(135deg, #f4f4f5, #e0e3e4);
    color: #333;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
    margin-top: 10px;
    display: block; /* Asegura que el botón ocupe el ancho completo en la parte posterior */
}

.card .nav-link:hover {
    background: linear-gradient(135deg, #ededed, #eaebed);
    color: #fff;
}

.nav-link {
    background-color: rgba(230, 247, 255, 0.8);
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover,
.nav-link:focus {
    background-color: rgba(235, 242, 250, 0.8); /* Celeste claro */
    color: white;
}

/* Estilos para la vista previa del GIF */
#gif-preview {
    margin-top: 15px;
    text-align: center;
}

#gif-preview img {
    width: 100%;
    max-width: 200px; 
    height: auto;
    border-radius: 10px;
    border: 1px solid #ccc;
}
