body{
    background-color: #8badc3;
}
.arriba ul{
    text-align: center;
    background-color:#14202E;
    width: 100%;
  
}
.arriba a{
    color: white;
    font-family: sans-serif;
    padding-right: 10px;
}

/* Estilos para la barra de navegación */
nav ul {
    list-style-type: none; /* Quitar los puntos de la lista */
    margin: 0; /* Quitar el margen externo */
    padding: 0; /* Quitar el relleno interno */
    display: flex; /* Usar flexbox para alinear elementos horizontalmente */
    justify-content: center; /* Centrar los elementos dentro del contenedor */
    background-color: #fff; /* Fondo blanco */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Ocultar contenido desbordado */
}

nav ul li {
    margin-right: 20px; /* Espaciado entre elementos de la lista */
}

nav ul li a {
    text-decoration: none; /* Quitar subrayado de los enlaces */
    color: #333; /* Color del texto en gris oscuro */
    font-weight: bold; /* Texto en negrita */
    font-size: 16px; /* Tamaño de fuente */
    padding: 10px 15px; /* Relleno interno para mayor clicabilidad */
    transition: color 0.3s; /* Efecto de transición al cambiar el color */
}

nav ul li a:hover {
    color: rgba(0, 123, 255, 0.8); /* Color celeste claro al pasar el cursor */
}

/* Estilos para el carrusel de imágenes */
.carousel {
    
    position: relative; /* Posicionar elementos internamente */
    overflow: hidden; /* Ocultar contenido desbordado */
    margin: 20px auto; /* Centrando el carrusel */
    width: 100%; /* Ancho máximo del carrusel */
    height: 100%;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para profundidad */
    border: solid 5px ;
    border-color: #14202E;
}

.slide {
    display: none; /* Ocultar diapositivas por defecto */
    width: 100%; /* Asegurar que ocupen el ancho completo del carrusel */
}

.slide.active {
    display: block; /* Mostrar únicamente la diapositiva activa */
}

.carousel img {
    width: 100%; /* Imagen adaptada al ancho del carrusel */
    height: auto; /* Mantener la proporción de la imagen */
    border-radius: 10px; /* Bordes redondeados de las imágenes */
}

.carousel-nav {
    
    position: absolute; /* Posición fija dentro del carrusel */
    top: 50%; /* Centrar verticalmente */
    width: 100%; /* Ancho completo del carrusel */
    display: flex; /* Flexbox para posicionar los botones */
    justify-content: space-between; /* Botones en extremos opuestos */
    transform: translateY(-50%); /* Ajustar al centro vertical */
    padding: 0 10px; /* Espaciado interno lateral */
}

.carousel-nav button {
    background-color: #14202E; /* Fondo celeste claro */
    color: white; /* Texto blanco */
    border: none; /* Sin borde */
    padding: 10px 15px; /* Relleno interno para mayor clicabilidad */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Mostrar el cursor de mano al pasar el ratón */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Sombra para efecto 3D */
}

.carousel-nav button:hover {
    background-color: rgba(0, 123, 255, 1); /* Fondo celeste más intenso al pasar el cursor */
}

/* Estilos para los contenedores de secciones */
.content {
    
    display: flex; /* Flexbox para alinear elementos */
    justify-content: space-between; /* Separar elementos uniformemente */
    flex-wrap: wrap; /* Permitir que los elementos se acomoden en varias filas */
    margin: 20px ; /* Margen externo centrado */
    margin-top: -43%;
    max-width: 60%; /* Ancho máximo del contenedor */
    
}

/* Contenedor de secciones */
.section-container {
    
   
    flex-direction: column;
    display: flex; /* Flexbox para organización */
    flex-wrap: wrap; /* Permitir acomodar elementos en varias filas */
    justify-content: left; /* Centrar elementos horizontalmente */
    margin: 40px auto; /* Margen externo centrado */
    max-width:10% ; /* Ancho máximo */
    gap: 100px; /* Espaciado entre secciones */
    margin-left: 75%;
    padding-bottom: 10px;
    
    
}

/* Estilos para las secciones específicas */
.medical-results,
.quotes,
.patient-guide {
    background: #fff; /* Fondo blanco */
    padding: 25px; /* Espaciado interno */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Sombra pronunciada */
    text-align: center; /* Alinear contenido al centro */
    transition: transform 0.3s, box-shadow 0.3s; /* Efecto de transición para animaciones */
}

/* Efecto de elevación y sombra al pasar el cursor sobre las secciones */
.medical-results:hover,
.quotes:hover,
.patient-guide:hover {
    transform: translateY(-10px); /* Eleva la sección ligeramente al pasar el cursor */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4); /* Sombra más pronunciada para dar efecto de profundidad */
}

/* Estilos para los títulos dentro de las secciones */
.medical-results h2,
.quotes h2,
.patient-guide h2 {
    color: #007bff; /* Color celeste para los títulos */
    font-size: 28px; /* Tamaño grande para los títulos */
    margin-bottom: 15px; /* Espacio debajo del título */
}

/* Estilos para el Botón de Cotizaciones */
.quotes .nav-link {
    background: linear-gradient(135deg, #a1c4fd, #c2e9fb); /* Gradiente de fondo en ángulo */
    color: #fff; /* Color blanco para el texto */
    border: none; /* Sin borde */
    padding: 12px 20px; /* Relleno interno del botón */
    border-radius: 25px; /* Bordes redondeados */
    margin-top: 15px; /* Espacio encima del botón */
    display: inline-block; /* Hacer que el botón se ajuste al contenido */
    transition: background 0.3s, transform 0.3s; /* Transición suave para el fondo y transformación */
}

/* Efecto al pasar el cursor sobre el botón */
.quotes .nav-link:hover {
    background: linear-gradient(135deg, #c2e9fb, #a1c4fd); /* Invertir el gradiente de fondo */
    transform: scale(1.05); /* Aumentar el tamaño del botón ligeramente */
}

/* Estilos para la sección de comentarios */
.comments-section {
    margin: 40px auto; /* Centrando la sección con margen */
    padding: 20px; /* Relleno interno */
    border: 1px solid #ccc; /* Borde gris claro */
    border-left: none;
    border-right: none;
    background-color: #14202e1c; /* Fondo celeste claro con opacidad */
    position: relative; /* Posicionamiento relativo para los elementos internos */
    max-width: 100%; /* Ancho máximo de la sección */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave para profundidad */
    border-radius: 10px; /* Bordes redondeados */
    text-align: center; /* Centrar el texto */
}

/* Estilos para el título dentro de la sección de comentarios */
.comments-section h2 {
    font-family: 'Lato', sans-serif;
    color: white; /* Color celeste para el título */
    margin-bottom: 20px; /* Espacio debajo del título */
    font-size: 30px; /* Tamaño grande para el título */
}

/* Estilos para el contenedor de comentarios */
#comments-container {
    position: relative; /* Posicionamiento relativo para elementos internos */
    width: 100%; /* Ancho completo del contenedor */
    overflow: hidden; /* Ocultar contenido desbordado */
}

/* Contenedor principal de los comentarios que se organiza en una fila */
#comments-wrapper {
    display: flex; /* Los comentarios se alinean en una fila */
    width: 100%; /* Ocupa el 100% del ancho disponible */
    transition: transform 0.5s ease; /* Transición suave al mover los comentarios */
}

/* Estilo para cada tarjeta de comentario */
.comment {
    min-width: 300px; /* Ancho mínimo de cada tarjeta */
    height: 100px; /* Altura de la tarjeta */
    margin: 0 15px; /* Espacio a los lados entre las tarjetas */
    box-sizing: border-box; /* Incluye el padding y el borde en el tamaño total */
    perspective: 1000px; /* Agrega perspectiva 3D */
    position: relative; /* Posición relativa para controlar el contenido dentro de la tarjeta */
    cursor: pointer; /* Cursor de mano cuando se pasa por encima */
}

/* Contenido dentro de la tarjeta, que se voltea */
.comment-inner {
    width: 100%; /* Ocupa el 100% del ancho */
    height: 100%; /* Ocupa el 100% de la altura */
    position: absolute; /* Se posiciona de forma absoluta dentro de la tarjeta */
    transform-style: preserve-3d; /* Permite que el contenido se muestre en 3D */
    transition: transform 0.6s; /* Transición suave al girar */
}

/* Al agregar la clase "flip" a la tarjeta, se voltea */
.comment.flip .comment-inner {
    transform: rotateY(180deg); /* Gira la tarjeta 180 grados en el eje Y */
}

/* Estilo para la parte frontal y posterior de la tarjeta */
.comment-front,
.comment-back {
    position: absolute; /* Posición absoluta dentro de la tarjeta */
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    backface-visibility: hidden; /* Oculta el reverso cuando la tarjeta está volteada */
    border: 4px solid; /* Borde celeste alrededor de la tarjeta */
    border-radius: 10px; /* Bordes redondeados */
    background-color: #fff; /* Fondo blanco para la tarjeta */
}

/* Estilo para la parte frontal de la tarjeta */
.comment-front {
    display: flex; /* Utiliza flexbox para centrar el contenido */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
}

/* Estilo para la parte posterior de la tarjeta */
.comment-back {
    background: #f5f5f5; /* Fondo gris claro para el reverso */
    transform: rotateY(180deg); /* Gira 180 grados para que sea la parte trasera */
    padding: 10px; /* Espaciado interno para el contenido */
    box-sizing: border-box; /* Incluye el padding y borde en el tamaño total */
}

/* Estilo para la imagen en la parte frontal de la tarjeta */
.comment-front img {
    width: 50%; /* La imagen ocupa la mitad del tamaño de la tarjeta */
    height: 100%; /* La imagen ocupa toda la altura de la tarjeta */
    object-fit: cover; /* Mantiene la relación de aspecto de la imagen */
    border-radius: 10px; /* Bordes redondeados para la imagen */
}

/* Estilo para los elementos dentro del reverso de la tarjeta */
.comment-back h3,
.comment-back p {
    margin: 10px; /* Márgenes para separar los elementos dentro del reverso */
    color: #333; /* Color de texto oscuro para los elementos */
}

/* Estilo para la sección de selección de GIFs */
.gif-selection {
    margin-top: 15px; /* Añade un espacio arriba de la sección */
}

/* Estilo para las etiquetas dentro de la selección de GIFs */
.gif-selection label {
    display: block; /* Las etiquetas se muestran como bloques */
    margin-bottom: 5px; /* Añade espacio debajo de cada etiqueta */
}

/* Estilos para el sidebar de comentarios */
#comment-sidebar {
    margin-left: 9%;
    text-align: center;
    position: flex ; /* Fija el sidebar en la pantalla */
    right: -300px; /* Inicialmente está fuera de la pantalla, a la derecha */
    top: 0; /* Se alinea con la parte superior de la pantalla */
    height: 250px;
    width: 80%; /* Ancho del sidebar */
    background-color:#14202e1c; /* Fondo con un tono celeste */
    border-left: 1px solid #ccc; /* Borde a la izquierda del sidebar */
    padding: 10px; /* Espaciado interno */
    transition: right 0.3s ease; /* Transición suave cuando se abre o cierra el sidebar */
    overflow-y: auto; /* Permite desplazamiento vertical si el contenido es largo */
    display: none; /* Inicialmente el sidebar está oculto */
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2); /* Sombra hacia la izquierda */
    border-radius: 10px; /* Bordes redondeados */
}
#comment-sidebar h2{
    color: white;
}

/* Cuando el sidebar está abierto, se mueve a la derecha */
#comment-sidebar.open {
    right: 0; /* Lo coloca completamente visible en la pantalla */
    
}

/* Estilos para el botón de agregar comentario */
#add-comment-btn {
    background: linear-gradient(135deg, #2b4257, #c2e9fb); /* Gradiente de fondo */
    color: #fff; /* Color blanco para el texto */
    border: none; /* Sin borde */
    padding: 12px 18px; /* Espaciado interno */
    border-radius: 25px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de mano cuando se pasa por encima */
    display: block; /* Se muestra como un bloque */
    margin: 25px auto; /* Espacio arriba y abajo, centrado horizontalmente */
    transition: background 0.3s, transform 0.3s; /* Transición suave al pasar el cursor */
}

/* Efecto cuando el botón es hover (al pasar el cursor) */
#add-comment-btn:hover {
    background: linear-gradient(135deg, #c2e9fb, #a1c4fd); /* Cambia el gradiente de fondo */
    transform: scale(1.05); /* Efecto de aumento al pasar el cursor */
}

/* Estilos para el formulario de comentarios */
#comment-form input, #comment-form textarea {
    margin-bottom: 15px; /* Espacio debajo de los campos */
    padding: 10px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 5px; /* Bordes redondeados */
    width: calc(60% - 20px); /* Ancho completo menos el espaciado interno */
}

/* Estilos para el botón de envío del formulario */
#comment-form button {
    background: linear-gradient(135deg, #2b4257, #c2e9fb); /* Fondo celeste translúcido */
    color: black; /* Color de texto negro */
    border: none; /* Sin borde */
    padding: 10px 15px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de mano al pasar el cursor */
}

/* Efecto hover en el botón de envío */
#comment-form button:hover {
    background-color: rgba(0, 123, 255, 1); /* Fondo celeste sólido */
    color: white; /* Texto blanco al pasar el cursor */
}

/* Estilos para los enlaces de navegación */
.nav-link {
    background: linear-gradient(135deg, #a1c4fd, #c2e9fb); /* Gradiente de fondo */
    color: #fff; /* Texto blanco */
    border: none; /* Sin borde */
    padding: 12px 18px; /* Espaciado interno */
    border-radius: 25px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de mano cuando se pasa por encima */
    display: block; /* Se muestra como un bloque */
    margin: 25px auto; /* Espacio arriba y abajo, centrado horizontalmente */
    transition: background 0.3s, transform 0.3s; /* Transición suave al pasar el cursor */
}


/* Estilos para los enlaces de navegación en estado hover */
.nav-link:hover {
    background-color: rgba(230, 247, 255, 0.8); /* Fondo celeste claro al pasar el mouse */
    color: rgb(15, 14, 14); /* Texto oscuro */
}

/* Estilo cuando el enlace está enfocado (focus) */
.nav-link:focus {
    outline: none; /* Elimina el contorno al hacer foco */
}

/* Estilo para el enlace cuando está en estado activo (al hacer clic) */
.nav-link:active {
    background-color: #45a049; /* Cambia el color al hacer clic */
}

/* Estilos para el footer */
footer {
    background-color: #14202e1c; /* Fondo celeste claro */
    padding: 30px 20px; /* Ajusta el padding para un mejor espaciado */
    margin: 40px auto;
    max-width: 100%; /* Limita el ancho del footer */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Sombra para darle profundidad */
    text-align: center; /* Centra el contenido dentro del footer */
}

/* Contenedor de los elementos dentro del footer */
.footer-container {
    display: flex; /* Usamos flexbox para alinear los elementos */
    flex-wrap: wrap; /* Permite que los elementos se ajusten cuando la pantalla es pequeña */
    justify-content: center; /* Centra los elementos horizontalmente */
    margin: 40px auto;
    max-width: 1200px; /* Limita el ancho del contenedor */
    gap: 30px; /* Añade espacio entre los elementos */
}

/* Estilo para las secciones dentro del footer (Certificaciones, Contacto, Sobre Nosotros) */
.certifications,
.contact,
.about {
    flex: 1; /* Hace que los elementos se distribuyan de manera equitativa */
    margin: 0 10px; /* Espacio horizontal entre los elementos */
}

/* Estilo para los títulos de las secciones en el footer */
.certifications h2,
.contact h2,
.about h2 {
   
    font-size: 24px; /* Tamaño de fuente */
    font-family: sans-serif;
    margin-bottom: 10px; /* Espacio debajo del título */
}

/* Animación de rotación para elementos */
@keyframes rotate {
    0% { transform: rotateY(0); } /* Comienza sin rotación */
    100% { transform: rotateY(360deg); } /* Finaliza con rotación completa */
}

/* Estilo del enlace dentro de la sección de Certificaciones */
.certifications .nav-link {
    background: linear-gradient(135deg, #a1c4fd, #c2e9fb); /* Gradiente de fondo */
    color: #fff; /* Texto blanco */
    border: none; /* Sin borde */
    padding: 10px 15px; /* Espaciado interno */
    border-radius: 25px; /* Bordes redondeados */
    margin-top: 10px; /* Espacio arriba */
    display: inline-block; /* Hace que el enlace sea un bloque en línea */
    transition: background 0.3s, transform 0.3s; /* Transición suave al pasar el cursor */
}

/* Efecto hover en los enlaces de Certificaciones */
.certifications .nav-link:hover {
    background: linear-gradient(135deg, #c2e9fb, #a1c4fd); /* Cambia el gradiente */
    transform: scale(1.05); /* Aumenta el tamaño ligeramente */
}

/* Estilos para los derechos de autor en el footer */
.copyright {
    margin-top: 20px; /* Espacio arriba */
    padding: 10px; /* Espaciado interno */
    border-top: 1px solid #ddd; /* Borde superior gris claro */
}

/* Estilos para el texto de los derechos de autor */
.copyright p {
    color: #555; /* Color gris para el texto */
    font-size: 14px; /* Tamaño pequeño de fuente */
    margin: 0; /* Elimina el margen por defecto */
}

/* Estilo para un fade-out en el body */
body.fade-out {
    opacity: 0; /* Hace que el contenido sea invisible */
}


/* Estilo del overlay de transición */
.fade-overlay {
    position: fixed; /* Fija el overlay a la pantalla completa */
    top: 0;
    left: 0;
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    height: 100%; /* Ocupa toda la altura de la pantalla */
    background-color: #fff; /* Fondo blanco */
    z-index: 9999; /* Asegura que el overlay esté encima de todos los demás elementos */
    display: flex; /* Usa flexbox para centrar el contenido dentro del overlay */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    opacity: 0; /* Hace que el overlay sea invisible por defecto */
    transition: opacity 1s ease; /* Hace que el overlay se desvanezca con una transición de 1 segundo */
}

/* Mostrar el overlay cuando tenga la clase active */
.fade-overlay.active {
    opacity: 1; /* Hace visible el overlay cuando tiene la clase active */
}

/* Estilos para la imagen dentro del overlay */
.fade-overlay img {
    max-width: 90%; /* La imagen ocupará el 90% del ancho del overlay */
    height: auto; /* La altura se ajusta automáticamente según el aspecto de la imagen */
}

/* Estilos para las cartas */
.card {
    background: #fff; /* Fondo blanco para la carta */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Sombra para darle profundidad */
    perspective: 1000px; /* Agrega una perspectiva 3D */
    width: 300px; /* Ancho fijo de la carta */
    height: 170px; /* Altura fija de la carta */
    overflow: hidden; /* Asegura que el contenido no se salga de la carta */
}

/* Estilo de la parte interna de la carta */
.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s; /* Transición suave cuando se rota */
    transform-style: preserve-3d; /* Mantiene el estilo 3D al rotar la carta */
}

/* Estilo para cuando la carta se pasa por encima (hover) */
.card:hover .card-inner {
    transform: rotateY(180deg); /* Gira la carta 180 grados en el eje Y */
}

/* Estilos para la parte frontal de la carta */

.footer-container{
    gap: 100px;
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Oculta el reverso de la carta cuando se voltea */
    border-radius: 15px; /* Bordes redondeados */
    display: flex; /* Usa flexbox para centrar el contenido dentro de la carta */
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */
    padding: 20px; /* Añade espacio interior */
    box-sizing: border-box; /* Incluye el padding en el tamaño total */
    
}

/* Estilos para la parte delantera de la carta */
.card-front {
    background: #fff; /* Fondo blanco */
}

/* Estilos para la parte trasera de la carta */
.card-back {
    background: #fff; /* Fondo blanco */
    transform: rotateY(180deg); /* Rota 180 grados para que quede del lado opuesto */
    text-align: center; /* Centra el texto dentro de la parte trasera */
}

/* Estilos para la imagen dentro de la carta */
.card img {
    width: 100%; /* La imagen ocupa todo el ancho de la carta */
    height: 100%; /* La imagen ocupa toda la altura de la carta */
    object-fit: cover; /* Asegura que la imagen cubra toda el área sin deformarse */
}

/* Ajustes de margen para títulos y párrafos dentro de las cartas */
.card h2,
.card p {
    margin: 0; /* Elimina el margen por defecto para evitar espacios innecesarios */
    font-family: sans-serif;
}

/* Estilos para los títulos dentro de las cartas */
.card h2 {
    color: #8b9fc3; /* Color azul claro para el título */
    font-size: 22px; /* Tamaño de fuente para el título */
    margin-bottom: 10px; /* Espaciado debajo del título para separar del contenido */
    font-family: sans-serif;
}

/* Estilos para los párrafos dentro de las cartas */
.card p {
    color: black; /* Color gris oscuro para el texto */
    font-size: 16px; /* Tamaño de fuente para el texto */
    font-family: sans-serif;
}

/* Estilos para el enlace dentro de la carta */
.card .nav-link {
    background: linear-gradient(135deg, #f4f4f5, #e0e3e4); /* Fondo gradiente en tonos claros */
    color: #333; /* Texto oscuro */
    padding: 10px 20px; /* Espaciado interno (relleno) */
    border-radius: 20px; /* Bordes redondeados para el enlace */
    text-decoration: none; /* Elimina el subrayado del enlace */
    transition: background 0.3s, color 0.3s; /* Transición suave para cambios de color y fondo */
    margin-top: 10px; /* Espaciado superior para separar el enlace de otros elementos */
    display: block; /* Hace que el enlace ocupe todo el ancho disponible en la carta */
    font-family: sans-serif;
}

/* Efecto hover sobre el enlace dentro de la carta */
.card .nav-link:hover {
    background: linear-gradient(135deg, #ededed, #eaebed); /* Fondo más claro al pasar el mouse */
    color: #fff; /* Cambia el color del texto a blanco al hacer hover */
}

/* Estilos generales para los enlaces */
.nav-link {
    background-color: rgba(230, 247, 255, 0.8); /* Fondo celeste claro con transparencia */
    color: black; /* Texto negro */
    text-decoration: none; /* Elimina el subrayado del enlace */
    padding: 10px 20px; /* Espaciado interno (relleno) */
    border-radius: 5px; /* Bordes redondeados para el enlace */
    transition: background-color 0.3s, color 0.3s; /* Transición suave para cambios de fondo y color */
    font-family: sans-serif;
}

/* Efectos de hover y focus para los enlaces */
.nav-link:hover,
.nav-link:focus {
    background-color: rgba(235, 242, 250, 0.8); /* Fondo aún más claro al pasar el mouse o hacer foco */
    color: white; /* Cambia el color del texto a blanco al hacer hover o focus */
}

/* Estilos para la vista previa del GIF */
#gif-preview {
    margin-top: 5px; /* Espaciado superior para separar la vista previa del GIF */
    text-align: center; /* Centra la imagen dentro del contenedor */
}

/* Estilos para la imagen del GIF */
#gif-preview img {
    width: 100%; /* La imagen ocupa el 100% del contenedor disponible */
    max-width: 150px; /* Limita el ancho máximo de la imagen a 200px */
    height: 100px; /* Mantiene la proporción de la imagen */
    border-radius: 10px; /* Bordes redondeados para la imagen */
    border: 1px solid #ccc; /* Borde gris claro alrededor de la imagen */
}

